%h1 Listing virtuals

%table
  %tr
    %th
    %th
    %th

  - @virtuals.each do |virtual|
    %tr
      %td= link_to 'Show', virtual
      %td= link_to 'Edit', edit_virtual_path(virtual)
      %td= link_to 'Destroy', virtual, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Virtual', new_virtual_path
